body{
    background-color: #FFFFFF;
    position: relative;
    background-image: url('/image/back.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    z-index: -1;
    margin: 0;
    padding: 0;
}


* { 
    /* margin: 0; 
    padding: 0; 
    box-sizing: border-box; */ 
    /* color: black; */ 
    text-decoration: none; 
    font-family: "Inter", sans-serif; 
    color: #4e5a65; 
    margin: 0; 
} 
a { 
    color: #35414b; 
} 
 
/* navbar start */ 
 
.navbar { 
    display: flex; 
    justify-content: space-around; 
    height: 80px; 
    /* border: 1px solid; */ 
} 
.navbar .navlogo-center { 
    display: flex; 
    margin-top: 10px; 
} 
.logo-center { 
    margin-right: 30px; 
    /* border: 1px solid; */ 
} 
.navbar .navlogo-right { 
    display: flex; 
    margin-top: 5px; 
} 
.navlogo-right { 
    margin-right: 30px;
     
} 
.logo1 { 
    font-family: "Josefin Sans", sans-serif; 
} 
 
/* navbar end */ 
 
/* header start */ 
.count { 
    display: flex; 
    justify-content: center; 
    margin-bottom: 50px; 
} 
#save90 { 
    margin-right: 10px; 
    background-color: #81c43b; 
    width: 100px; 
    height: 30px; 
    border-radius: 100px; 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: 2px solid black; 
} 
#ac59 { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 140px; 
    height: 30px; 
    font-size: 13px; 
    /* border: 1px solid; */ 
}
.introduction{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.first-text{
    text-align: center;
    font-size: 16px;
    font-family: 'Interhit' inherit;
    margin-top: 24px;
}

.email{
    margin-top: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    
    
}
.write_Email{
    box-sizing: border-box;
    width: 240px;
    text-align: center;
    border: 1px solid #E1E5EA;
    border-radius: 4px 0px 0px 4px;

}
.try_it{
    width: 164px;
    height: 52px;
    background-color:#794CFF;
    border: 1px solid #794CFF;
    border-radius: 0px 4px 4px 0px;
}
.aboutOurProgress{
    display:flex;
    margin-top: 48px;
    justify-content: center;
}

.ourCompanies{
    display: flex;
    justify-content: space-around;
    margin: 100px;
}

.our_Companies{
    text-align: center;
}

.timeline{
    background-color:#FBFAFE;
    display: flex;
    align-items:center;
    justify-content: start;
    flex-direction: row;
}  
.image_tm{
    margin-left: 198px;
}
.background_fone{
    box-sizing:border-box;
    background-color: #F0EBFA;
    width: 100%;
    height: 540px;
    background-size:cover;
    border: 1px dashed #F0EBFA;
    margin-top: 80px;
}
.work-easy {
    padding-top: 100px;
  }
  
  .work__easy-title {
    margin-bottom: 55px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #35414B;
  }
  
  .work-menu__wrapper {
    display: flex;
    justify-content:row;
    flex-wrap: wrap;
  }
  
  .menushki {
    max-width: 400px;
    margin-bottom: 80px;
    margin-left: 100px;

  }
  
  .wrapper__img {
    display: flex;
    align-items: flex-start;
  }
  
  .inline {
    margin-right: 10px;
  }
  .work-menu__text{
    margin-left: 10px;
  }
  
  .work-menu__title {
    font-size: 18px;
    font-weight: 600;
    color: #35414B;
    margin-left: 10px;
  }
  
.work-statistic{
    font-size: 30px;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;

}
.statistic-image{
    margin-right: 10%;
    margin-top: 5%;

}
.statistic-btn{
    width: 29%;
    height: 10%;
    margin-top: 5%;
    border-radius:5px;
    background-color:#796EFF;
    color:white;
}
.static_main_text{
    margin-top: 25%;
}
.statistic-p{
    margin-top: 5%;
    font-size: 1rem;


}
.new-static{
    display: flex;
}




/* REVIEWS START */

.reviews-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews-main-header {
    width: 35%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: 50px;
}
.reviews-main-dsc {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #4E5A65;
    width: 30%;
}

.reviews-from-experts {
    display: flex;
    justify-content: Center;
    align-items: center;
    margin: 5%;
    margin-left: 20%;
}
.reviews-from-experts1, .reviews-from-experts2, .reviews-from-experts3 {
    display: flex;
    width: 25%;
    margin-right: 50px;
    padding: 0;
}
.reviews-from-dsc-name {
    font-size: 16px;
    font-weight: 600;
}
.reviews-from-dsc-jt {
    font-size: 14px;
    font-weight: 400;
}

.new-line{
    position: absolute;
    width: 264px;
    height: 4px;
    background:#35414B;
    left: 340px;
    top: 3500px;
}
.fone{
    background-color:white;
    width: 100%;
    height: 350px;
}
.linkToStore{
    width: 80%;
    height: 224px;
    background-color:#796EFF;
    border-radius:7px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: row;
    margin-top: 150px;

    margin-bottom: 10%;
}
.link-text{
    font-size: 32px;
    font-weight: 600;
    color:#FFFFFF;
    margin-top: 5%;
    margin-left: 4%;
    width: 40%;
}
.linksForPlayandApp{
    display: flex;
    margin-right: 1%;
    margin-top: 6%;
    margin-left: 10%;
}
.play-img{
    margin-right:40px;
}



footer {
    background-color: #1D2830;
    color: #fff;
    padding-top: 80px;
    width: 100%;
    height: auto;
  }
  
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
  }
  
  .item-list_title {
    margin-bottom: 25px;
    font-weight: 600;
  }
  
  .item-list {
    margin-bottom: 25px;
  }
  
  .footer__hr {
    height: 1px;
    opacity: 10%;
  }
  
  .footer__footer-wrapper {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer__text {
    font-size: 14px;
    color: #D9DBE1;
  }
  
  .footer__menu {
    display: flex;
  }
  
  .footer__item {
    margin-left: 25px;
  }
  .item-4{
    margin-right: 2%;
  }
